{% extends 'reservation/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'cinema/css/index.css' %}">
{% endblock %}

{% block title %}
<title>Réservation | Films</title>
{% endblock %}

{% block content %}

<div class="recherche">
    <input type="search" name="" id="searchs" placeholder="recherchez vous films">
    <img src="{% static 'cinema/images/recherches.jpg' %}" alt="">
</div>
<div class="card">
    <div class="textes">
        <h2>
            Bienvenue sur <span>TicketBooking</span>
            votre site de reservation de billet de cinéma

        </h2>

        <h4>
            Choisissez votre films et reserver au plus vite
        </h4>
    </div>
    <div class="image1">
        <img src="{% static 'cinema/images/nav2.jpg' %}" alt="">
    </div>
</div>

<div class="categorie">
    {% for categorie in categorie %}
    <a href="">{{ categorie.libelle }}</a>
    {% endfor %}

</div>

<div class="films">
    {% for film in films %}
    <div class="elment1">

        <div class="imag1">

            <img src="{{ film.image.url }}" alt="">
            <div class="texts">
                <div class="titre">
                    <h4>{{ film.titre }}</h4>
                </div>
                <div class="prix">
                    <p>{{ film.prix }}FCFA </p>

                </div>

            </div>
        </div>

        <div class="panier">
            <button>+1panier</button>
        </div>

        <div class="detail">
            <a href="{% url 'cinema:filmDetail' film.id %}">Voir la fiche>></a>
        </div>
    </div>
    {% endfor %}
</div>
</section>
{% endblock %}