*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(11, 25, 29);
}

.alle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.liens{
    
    text-align: center;
    padding: 5px;
    margin:10px;

}

.alle h1{
    color: white;
}

a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 50px;
    color: white;
    
}

a:hover{
    color: rgb(98, 196, 209);
    cursor: pointer;
    transition: .4s;
}


span{
    color: rgb(98, 196, 209);
}

.card{
    border-bottom: 3px solid white;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.textes{
    width: 500px;
}
.textes h2{
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 25px;
    color: white;
    text-align: center;
    width: 100%;
   
}       

.textes h4{
    font-size: 20px;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.image1 {
    text-align: center;
    padding: 5px;
    margin:10px;
}

.image1 img{
   
    height: 100%;
    height: 100%;
   

}

.films{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.elment1{
    width: 280px;
    background-color: rgb(225, 232, 238);
    height: 280px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 50px;

}


.imag1 img{
   height: 100%;
   width: 100%;
    
}

.texts{
    justify-content: space-around;
    display: flex;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(11, 25, 29);
    font-family: 'Times New Roman';
}

.panier button{
    border: 1px solid  rgb(11, 25, 29);
    color: white;
    width: 100px;
    font-size: 15px;
    border-radius: 30px;
    padding: 5px 15px;
    background-color:  rgb(11, 25, 29);
    font-weight: bold;
    text-align: center;
    transition: .4s;
    margin-top: 10px;
}

.panier button:hover{
    background-color: transparent;
    cursor: pointer;
    border: 2px solid black;
    color: black;
    font-weight: bold;
}

.voir{
    text-align: right;
    margin-right: 20px;
}

.detail{
    text-align: right;
}

.detail a{
    color: rgb(11, 25, 29);
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}

.detail a:hover{
    cursor: pointer;
    color: red;
    font-weight: bold;

}


.recherche{
    position: absolute;
    z-index: 2;
    width: 25%;
    margin-left: 15px;
    margin-top: 30px ;
}

.recherche input{
    position: absolute;
    display: inline-block;
    width: 100%;

}

#searchs{
    
    padding: 10px;
    border-radius: 10px;
}

.recherche img{
    position: absolute;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-left: 85%;
}

.categorie{
    background: white;
    margin-bottom: 50px;
    width: 50%;

}

.categorie a{
        text-decoration: none;
        font-size: 20px;
        padding-left: 50px;
        color: rgb(11, 25, 29);
        text-transform: capitalize;
    
        
    }
    
.categorie a:hover{
        color: red;
        cursor: pointer;
        transition: .4s;
    }